//**SHARED**

//font
$font-family-montserrat: 'Montserrat';
$font-family-questrial: 'Questrial';
$font-family-josefin: 'Josefin Sans';

//color
$color-white2: #f1f1f1;
$color-white:#fff;
$color-gray:#585e71;
$color-border:#e1e1e1;
$color-body: #F9F8F3;
$color-body-text:#212529;
$color-error: #E9808A;

//footer
$footer-color: #282828;
$footer-text: #A9C9E3;
$footer-color-content:#696969;