#formContent {

    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    margin:30px 20px;
  }

  .register-wrapper{
    // margin: 10px 20px;

  }

  .form-control{
    border-radius: 20rem;
  }
  .form-group{
    margin: 23px 31px;
  }

